@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Department List";
}
@model IEnumerable<Department>
<style>
    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .table th {
            background-color: #f2f2f2;
            text-align: left;
        }

        .table tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .table tr:hover {
            background-color: #ddd;
        }

    .table-bordered {
        border: 1px solid #ddd;
    }
</style>
<h1 class="bg-info text-white">All Departments</h1>
<a asp-action="Create" class="btn btn-primary">Add New Department</a>
<table class="table table-sm table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    @foreach (Department department in Model)
    {
        <tr>
            <td>@department.Id</td>
            <td>@department.Name</td>
            <td>
                <a class="btn btn-sm btn-primary"
                   asp-action="Edit"
                   asp-route-id="@department.Id">Edit</a>
            </td>
            <td>
                <form asp-action="Delete"
                      asp-route-id="@department.Id" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                </form>
            </td>
        </tr>
    }
</table>
